<!-- templates/home.html -->
{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Home Page{% endblock %}

{% block navbar_user %}
    <div class="d-flex gap-2 align-items-center p-2">
    <div class="border rounded-2 overflow-hidden w-60" style="height:60px">
        <img src="{% static "img/img.jpg" %}" alt="img" class="img-fluid h-100 object-fit-scale">
    </div>

    <div class="d-flex flex-column">
        <div class="fw-bold mb-1">User Name</div>
        <div class="d-flex gap-3">
            <a href="#" class="link-primary text-decoration-none fs-6">Settings</a>
            <a href="#" class="link-danger text-decoration-none fs-6">Log Out</a>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

    <section class="col">
        <div class="d-flex align-items-center gap-2 mb-4">
            <h1>New Questions</h1>
            <a href="{% url "hot" %}">Hot Questions</a>
        </div>

        <articles class="d-flex gap-3 flex-column">

            {% for question in questions %}
                {% include "layouts/question.html" %}
            {% endfor %}

        {% include 'layouts/pagination.html' %}

        </articles>
    </section>
{% endblock %}


